<!DOCTYPE html>
{% load static %}
<html>

</style>
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>BAYRAKCLASSFILM</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/light-box.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo-main.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

         <script src="https://kit.fontawesome.com/61fdfdeff5.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>


<body>
    
    <div class="sequence">
  
      <div class="seq-preloader">
        <svg width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg" class="seq-preload-indicator"><g fill="#F96D38"><path class="seq-preload-circle seq-preload-circle-1" d="M3.999 12.012c2.209 0 3.999-1.791 3.999-3.999s-1.79-3.999-3.999-3.999-3.999 1.791-3.999 3.999 1.79 3.999 3.999 3.999z"/><path class="seq-preload-circle seq-preload-circle-2" d="M15.996 13.468c3.018 0 5.465-2.447 5.465-5.466 0-3.018-2.447-5.465-5.465-5.465-3.019 0-5.466 2.447-5.466 5.465 0 3.019 2.447 5.466 5.466 5.466z"/><path class="seq-preload-circle seq-preload-circle-3" d="M31.322 15.334c4.049 0 7.332-3.282 7.332-7.332 0-4.049-3.282-7.332-7.332-7.332s-7.332 3.283-7.332 7.332c0 4.05 3.283 7.332 7.332 7.332z"/></g></svg>
      </div>
      
    </div>
    
  
        <nav>
          <div  class="logo">
              <img src="{% static 'img/sonlogo.jpg' %}" alt="">
          </div>

          <ul>
            <li><a href="#1"><i class="fa fa-home"></i> <em>Anasayfa</em></a></li>
            <li><a href="#2"><i class="fa fa-user"></i> <em>Hakkımızda</em></a></li>
            <li><a href="#3"><i class="fa fa-pencil"></i> <em>Servisler</em></a></li>
            <li><a href="#4"><i class="fa fa-image"></i> <em>İşlerimiz</em></a></li>
            <li><a href="#5"><i class="fa fa-envelope"></i> <em>İletişim</em></a></li>
            <li><a href="#6"><i class="fa fa-envelope"></i> <em>Referanslar</em></a></li>
          </ul>
        </nav>
        
    <div class="slides">
        <div class="slide" id="1">
            <div class="content first-content">
              <div class="container-fluid">
                  <div class="col-md-3">
                    <div class="author-image"><img src="{% static 'img/sonlogo.jpg' %}" alt="Author Image"></div>
                </div>
                  <div class="col-md-9">
                    <h3>BAYRAKCLASSFILM</h3>
                    <p>Hoş Geldiniz! BAYRAKCLASSFİLM olarak, sizin için en kaliteli cam filmi çözümlerini sunuyoruz. Güneş ışınlarından koruyan, mahremiyet sağlayan ve estetik görünüm kazandıran film uygulamalarımızla hem konforunuzu hem de güvenliğinizi artırıyoruz.
                    Profesyonel ekibimiz ve yıllara dayanan tecrübemizle, konutunuza,iş yerinize, aracınıza değer katmak için buradayız. Hemen bize ulaşın, farkı görün!</p>
                    <div class="main-btn"><a href="#2">Daha fazla oku</a></div>
                    <div class="fb-btn"><a rel="nofollow" href="https://www.instagram.com/bayrakclass">Sosyal Medya Hesabımız</a></div>
                  </div>
              </div>
            </div>
          </div>
        <div class="slide" id="2">
            <div class="content second-content">
                <div class="container-fluid">
                    <div class="col-md-6">
                        <div class="left-content">
                            <h2>Hakkımızda</h2>
                            <p>BayrakClass Cam Filmleri, cam filmi uygulamaları alanında estetik ve fonksiyonelliği bir araya getiren profesyonel çözümler sunmak amacıyla İstanbul Ümraniye'de kurulmuştur. Kurulduğumuz günden bu yana hem konut hem de ticari projelerde müşterilerimize kaliteli, uzun ömürlü ve şık cam filmi hizmetleri sunarak sektörde güvenilir bir yer edindik.</p> 
                            <p>Güneş kontrol filmleri, güvenlik cam filmleri, özel baskılı ve dekoratif filmler, kumlama cam filmleri ve transparan renkli filmler gibi geniş ürün yelpazemizle yaşam ve çalışma alanlarını daha konforlu, güvenli ve estetik hale getiriyoruz.Her projeye özel çözümler üretmeyi prensip edinen ekibimiz, hem bireysel kullanıcılar hem de kurumsal firmalarla titizlikle çalışarak ihtiyaca yönelik uygulamalar gerçekleştirir.</p>
                            <p>Cam yüzeylerin görsel gücünü artırırken, aynı zamanda ısı yalıtımı, UV koruması, gizlilik ve güvenlik gibi birçok işlevsel avantaj da sağlıyoruz.</p>
                            <p> Ümraniye merkezli ofisimizden tüm İstanbul’a hizmet veriyor; kaliteli malzeme, profesyonel uygulama ve müşteri memnuniyetini ön planda tutarak yaşam alanlarınıza değer katıyoruz.</p>
            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-image">
                          <img src="{% static 'img/about2.jpg' %}"  alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <div class="slide" id="3">
            <div class="content third-content">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="first-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="left-content">
                                                <h2>Çalışma Ortamı Konforu</h2>
                                                <p>Ofislerde uygulandığında, güneş kontrol filmleri hem ısıyı dengeleyerek daha rahat bir ortam sunar hem de ekranlarda oluşan yansımaları azaltarak çalışanların verimliliğini artırır.
                                                Uzman ekibimizle aracınız hem daha güvenli hem de daha göz alıcı.</p>
                                                <h2>Enerji Verimliliği</h2>
                                                <p>İşyerlerinde klima ve ısıtma sistemlerinin daha az enerji harcayarak çalışmasını sağlayan bu filmler, işletmelere önemli ölçüde maliyet avantajı sunar..</p>
                                                <div class="main-btn"><a href="#4">Görsellere Göz Atın </a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-image">
                                                <img src="{% static 'img/bina/19.jpeg' %}" alt="first service">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="second-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="left-image">
                                                <img src="{% static 'img/bina/18.jpeg' %}" alt="second service">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-content">
                                                <h2>Konut Kullanımında Güneş Kontrol Cam Filmleri</h2>
                                                <p>Güneş kontrol cam filmleri, evlerde dışarıdan bakıldığında iç mekanın görünürlüğünü azaltarak sakinlerine mahremiyet sağlar. Özellikle cam yüzeylere uygulandığında, yaşam alanlarının daha huzurlu ve konforlu hale gelmesine katkıda bulunur..</p>
                                                <div class="main-btn"><a href="#4">Görsellere Göz Atın</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="slide" id="4">
            <div class="content fourth-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="{% static 'img/bina/1.jpeg' %}" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>BAYRAKCLASSFILM</h2>
                                           
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="{% static 'img/bina/1.jpeg' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href={% static 'img/bina/2.jpeg' %} data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>BAYRAKCLASSFILM</h2>
                                          
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src={% static 'img/bina/2.jpeg' %}>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href={% static 'img/bina/3.jpeg' %} data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>BAYRAKCLASSFILM</h2>
                                          
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="{% static 'img/bina/3.jpeg' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href={% static 'img/bina/4.jpeg' %} data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>BAYRAKCLASSFILM</h2>
                                            
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src={% static 'img/bina/4.jpeg' %}>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="{% static 'img/bina/5.jpeg' %}" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>BAYRAKCLASSFILM</h2>
                                            
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src={% static 'img/bina/5.jpeg' %}>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="{% static 'img/bina/6.jpeg' %}" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>BAYRAKCLASSFILM</h2>
                                            
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src={% static 'img/bina/6.jpeg' %}>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
          </div>
        <div class="slide" id="5">
            <div class="content fifth-content">
                <div class="container-fluid">
                    <div class="col-md-6">
                        <div class="contact-box-container">
                            <div class="contact-box">
                                <a href="https://wa.me/+905525000458" target="_blank">
                                    <h4>Telefon 1</h4>
                                    <p>+90 552 500 0458</p>
                                </a>
                            </div>
                            <div class="contact-box">
                                    <a href="https://wa.me/+905323598940" target="_blank">
                                    <h4>Telefon 2</h4>
                                    <p>+90 532 359 89 40</p>
                                    </a>
                            </div>
                            <div class="contact-box">
                                <a href="mailto:bayrakclassfilm@gmail.com" target="_blank">
                                <h4>Email</h4>
                                <p>bayrakclassfilm@gmail.com</p>
                                </a>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" id="6">
            <div class="content third-content">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="first-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="left-content">
                                                <h2>İş Ortaklarımız ve Referanslarımız</h2>
                                                <p>İşletmemiz olarak sektördeki tecrübemizi ve kalitemizi her zaman işbirliği yaptığımız firmalarla pekiştiriyoruz. Aşağıda yer alan firmalar, bizimle çalışarak çeşitli projelerde işbirliği yapmış ve güvenimizi kazanmış önemli referanslarımızdır.</p>
                                                <p>Her bir firma, hizmetlerimizi ve çözümlerimizi test etmiş, memnuniyetlerini ve deneyimlerini bizlerle paylaşmıştır. Bu iş ortaklıkları, müşterilerimize sunduğumuz hizmet kalitesinin ve profesyonelliğimizin bir göstergesidir.</p>
                                                <p>Amacımız, güçlü ve güvenilir iş ilişkileri kurarak hem sektörümüzde hem de müşterilerimiz nezdinde güvenilir bir marka olarak yer almaktır. Bu işbirlikleri sayesinde, her projede en yüksek standartlarda hizmet sunmayı sürdürüyoruz.</p>
                                            </div>
                                            <div class="left-content">
                                                <h2></h2>
                                                <section id="firmalar" class="py-5">
                                                                    <div class="container">                                                                     
                                                                        <div class="firmalar-grid">
                                                                            <div class="firma-item">Gebze Tübitak • Akbank • Meridyen Otel</div>
                                                                            <div class="firma-item">Orjin Deri • Beymen • Akmerkez</div>
                                                                            <div class="firma-item">Toyata • Koroza Ambalaj • Özel Pendik Birikim Koleji</div>
                                                                            <div class="firma-item">Okmeydanı Hastanesi • Göztepe Sigorta Hastanesi • Taksim İlkyardım Hastanesi</div>
                                                                            <div class="firma-item">Bayrampaşa Devlet Hastanesi • Maltepe Başı Büyük Hastanesi • Aksaray İSKİ</div>
                                                                            <div class="firma-item">Şişli Belediyesi • Konak Belediyesi • Ziraat Bankası</div>
                                                                            <div class="firma-item">Memorial Hastanesi • İstanbul Teknik Üniversitesi • Bayrampaşa Koç Üniversitesi</div>
                                                                            <div class="firma-item">Uğur Tekstil • Karbel Tekstil • Levent Loff</div>
                                                                            <div class="firma-item">Metro City • İstinye Park • Buyaka</div>
                                                                            <div class="firma-item">Ülker • Doğuş Oto • Sarelle</div>
                                                                            <div class="firma-item">Özel Ulus Koleji • Enka İnşaat • The Haus Cafe</div>
                                                                            <div class="firma-item">Shell • Total • Show TV</div>
                                                                            <div class="firma-item">TV8 • Yapı Kredi Plaza • Ulus TRT</div>
                                                                            <div class="firma-item">Sarıyer Belediyesi • Koç Holding • Süzer Plaza</div>
                                                                            <div class="firma-item">Maslak Probus Plaza • Vakko • Kemal Tanca</div>
                                                                            <div class="firma-item">Demirören Grup • Hürriyet • Star TV</div>
                                                                            <div class="firma-item">Nurol Plaza • Koza Plaza • Yeditepe Üniversitesi</div>
                                                                            <div class="firma-item">Silivri Devlet Hastanesi • Halk Ekmek Fabrikası • Zorlu Holding</div>
                                                                            <div class="firma-item">Tekfen Holding • Nişantaşı Amerikan Hastanesi • Kemer Cantay</div>
                                                                            <div class="firma-item">Gebze Organize Sanayi • Güllüoğlu • Venüs Pastanesi</div>
                                                                            <div class="firma-item">Pelit Pastanesi • Namlı • Kapan</div>
                                                                            <div class="firma-item">Tatlıses Kebap Florya • Kasibeyaz • Gedik Restoran</div>
                                                                            <div class="firma-item">İstinye Devlet Hastanesi • İstinye İBB Sosyal Tesis • Ağaoğlu İnşaat</div>
                                                                            <div class="firma-item">Makyol İnşaat • Tekfen İnşaat • Vadi İstanbul</div>
                                                                            <div class="firma-item">Nurtepe İSKİ Binası • Evyap • Floradaki Alışveriş Merkezi</div>
                                                                            <div class="firma-item">Hadımköy Seyidoğlu Fabrikası • Sabiha Gökçen Havalimanı • Sultanbeyli Belediyesi</div>
                                                                            <div class="firma-item">Balta Limanı Kemik Hastanesi • Bayrampaşa Koç Hastanesi • Sarıyer Devlet Hastanesi</div>
                                                                            <div class="firma-item">İDO • Beykent Üniversitesi • Arçelik</div>
                                                                            <div class="firma-item">Abdi İbrahim</div>

                                                                        </div>
                                                                     </div>
                                                </section>
                                                    
                                                    
                                              
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-image">
                                                <img src="img/ref.png" alt="first service">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>                      
    </div>

        <div class="footer">
          <div class="content">
              <p>Copyright &copy; 2025 Company Name : <a rel="nofollow" href=""></a></p>
          </div>
    </div>
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{%static 'js/main.js' %}"></script>

    <script type="text/javascript">
    $(document).ready(function() {

        

        // navigation click actions 
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');         
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed){
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop:targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function() { }
        };
    }
    </script>
</body>
</html>